<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <base href="/">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="themes/fontawesome/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="themes/dist/css/mdb-pro.css" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
        }
        header {
            min-height: 5em;
        }
        @media (max-width: 450px) {
            html,
            body {
                height: 700px;
            }
        }
        @media (min-width: 451px) and (max-width: 740px) {
            html,
            body {
                height: 500px;
            }
            header {
                min-height: 5em;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body {
                height: 550px;
            }
        }
    </style>
    <% /* Place any styles in the page in this section. */ %>
    <%- style %>
</head>

<body>

<!-- Navigation & Intro -->
<header>
    <% /*
    Define an required placeholder for the header.
    If a page doesn't define a header, there will be an error when rendering.
    */ %>
    <%- defineContent('header') %>
</header>
<!-- Navigation & Intro -->

<!-- Main content -->
<main>
    <% if (typeof body != 'undefined') { %>
        <%- body %>
    <% } %>
</main>
<!-- Main content -->

<!-- Footer -->
<footer class="page-footer text-center text-md-left unique-color-dark pt-0 mt-0">
    <%- defineContent('footer') %>
</footer>
<!-- Footer -->

<!-- JQuery -->
<script type="text/javascript" src="themes/dist/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="themes/dist/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="themes/dist/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="themes/dist/js/mdb.js"></script>
<% /* Place any scripts contained in views at the end of the page. */ %>
<%- script %>
</body>

</html>
