<%- contentFor('body') %>
<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">
    <table class="table table-responsive table-borderless">
        <thead>
        <tr>
            <th>URL</th>
            <th>Direct visit</th>
            <th>Render</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr translate-url="<%= data[i].local %>" translate-sl="<%= data[i].lang %>">
                <td><%= data[i].local %></td>
                <td>
                    <a href="<%= data[i].local %>" target="_blank" class="mr-2 badge rounded-pill bg-info text-dark">Ngrok
                        <i class="fas fa-external-link-alt"></i></a>
                </td>
                <td id="translate-urls-<%- i %>"><a href="/translate?url=<%= encodeURIComponent(data[i].local) %>"><i
                                class="fas fa-eye"></i></a>
                </td>
            </tr>
        <% } %>
        </tbody>
        <tfoot>
        <tr>
            <th>Ngrok Status</th>
            <th id="ngrok-host"><%- ngrok_host %></th>
            <th id="ngrok-stats" class="text-danger">unknown</th>
        </tr>
        </tfoot>
    </table>
</div>

<script><%- include('translate-index.js') %></script>
